
<ion-header [translucent]="true">
  <ion-toolbar color="diamante">
    <ion-title>Politica de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div style="margin: auto;">
    <h1>
      POLÍTICA PARA EL ADECUADO TRATAMIENTO DE LA INFORMACIÓN PERSONAL
    </h1>
  
    <h4>
      1. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES
    </h4>
  
    <p>
      BRILLADORA EL DIAMANTE., sociedad comercial identificada con NIT. 890.300.327, con domicilio en la ciudad de
      Cali (Colombia) (en adelante la “Compañía”) cuyos datos de contacto son correo sistemas@diamante.com.co, (+ 602)
      5147777 y página web www.diamante.com.co
    </p>
  
    <h4>
      2. PROPÓSITO DE ESTA POLÍTICA
    </h4>
  
    <p>
      El propósito de esta política es informar a los Titulares de Datos Personales sobre sus derechos, así como los
      procedimientos y mecanismos establecidos por la Compañía para garantizar el ejercicio efectivo de estos
      derechos. Además, busca proporcionar una comprensión clara del alcance y propósito del tratamiento al que serán
      sometidos los Datos Personales.
    </p>
  
    <h4>
      3. DEFINICIONES
    </h4>
  
    <p>
      Las palabras escritas en mayúscula al inicio de esta Política tendrán el significado asignado aquí o el que la
      Ley Aplicable o la jurisprudencia les otorguen en el momento, en caso de modificaciones posteriores a dicha Ley
      Aplicable o jurisprudencia. Para la interpretación de los términos utilizados en esta Política, nos referiremos
      a las definiciones establecidas en la Ley 1266 de 2008, Ley 1581 de 2012 y el Decreto Único Reglamentario 1074
      de 2015.
    </p>
  
    <p>
      <b>3.1. Autorización:</b> Consentimiento previo, expreso e informado del Titular para llevar a cabo el
      Tratamiento de
      sus Datos Personales.
      <br>
      <br>
      <b>3.2. Base de Datos:</b> Conjunto organizado de Datos Personales que sea objeto de Tratamiento que reposen en
      documentos físicos o electrónicos.
      <br>
      <br>
      <b>3.3. Dato Personal o Información Personal:</b> Cualquier información vinculada o que pueda asociarse a una o
      varias
      personas naturales determinadas o determinables. Aquellas piezas de información que puedan llegar a ser
      determinables para identificar al titular del dato personal.
      <br>
      <br>
      <b>3.4. Dato Público:</b> Dato Personal que no sea semiprivado, privado o sensible. Son considerados datos
      públicos,
      entre otros, los datos relativos al estado civil de las personas, a su profesión, a su calidad de comerciante o
      de servidor público, y en general todos los datos que puedan estar contenidos en registros públicos, documentos
      públicos, gacetas, boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas
      a reserva.
      <br>
      <br>
      <b>3.5. Datos Sensibles:</b> Aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar su
      discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las
      convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos
      o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos
      políticos de oposición, así como los datos relativos a la salud, a la vida sexual y los datos biométricos.
      <br>
      <br>
      <b>3.6. Dato Semiprivado:</b> Es aquel dato que no tiene naturaleza íntima, reservada ni pública y cuyo
      conocimiento o
      divulgación puede interesar no sólo al titular, sino a cierto sector o grupo de personas o a la sociedad en
      general, como, por ejemplo, el dato financiero y crediticio.
      <br>
      <br>
      <b>3.7. Dato Privado:</b> Es el dato que por su naturaleza íntima o reservada identifica al titular. Un ejemplo
      de este
      tipo de dato es una fotografía, un video o datos relacionados con el estilo de vida del titular del dato
      personal.
      <br>
      <br>
      <b>3.8. Encargado del Tratamiento:</b> Persona natural o jurídica, pública o privada, que por sí misma o en
      asocio con
      otros, realice el tratamiento de datos personales por cuenta del responsable del tratamiento. Podrá tener la
      calidad de encargado una persona interna o externa a la organización.
      <br>
      <br>
      <b>3.9. Oficial de Protección de Datos:</b> Persona o área de la organización que se encarga de resolver quejas,
      consultas y reclamos de los titulares de la información, y además de administrar y controlar los datos
      personales que contienen las bases de datos, bajo el cumplimiento de los deberes y responsabilidades previstos
      para garantizar la protección de los derechos del titular del dato. En ningún caso, será responsable frente al
      titular por la calidad de los datos que le sean suministrados.
      <br>
      <br>
      <b>3.10. Habeas Data:</b> Derecho fundamental de toda persona para conocer, actualizar, rectificar y/o suprimir
      los
      datos personales que se hayan sometido a tratamiento.
      <br>
      <br>
      <b>3.11. Derecho de Protección de Datos Personales:</b> confiere a su titular poderes de disposición y control
      sobre
      sus datos personales.
      <br>
      <br>
      <b>3.12. Responsable del Tratamiento:</b> Persona natural o jurídica, pública o privada, que por sí misma o en
      asocio
      con otros, decida sobre el tratamiento de los datos.
      <br>
      <br>
      <b>3.13. Titular:</b> Persona natural cuyos datos personales sean objeto de tratamiento.
      <br>
      <br>
      <b>3.14. Tratamiento:</b> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la
      recolección, almacenamiento, uso, circulación o supresión de los mismos.
      <br>
      <br>
      <b>3.15. Transferencia:</b> Hace alusión a los casos en que el Responsable o el Encargado del Tratamiento de
      datos
      personales que se encuentra ubicado en Colombia, envía dicha información a un receptor que a su vez es
      Responsable del Tratamiento y se encuentra dentro o fuera del país.
      <br>
      <br>
      <b>3.16. Transmisión:</b> Hace referencia a los casos en que el Tratamiento de datos personales se realiza por
      el
      Encargado por cuenta del Responsable, debiendo mediar entre ellos la comunicación de la información dentro o
      fuera del territorio de Colombia.
      <br>
      <br>
      <b>3.17. Aviso de Privacidad:</b> Documento físico, electrónico o en cualquier otro formato generado por el
      responsable
      que tiene por objeto poner a disposición del titular la política para el tratamiento de los datos personales con
      la que cuenta la compañía.
  
    </p>
  
    <h4>
      4. PRINCIPIOS RECTORES DEL TRATAMIENTO DE DATOS PERSONALES
    </h4>
  
    <p>
      La Compañía, en su calidad de responsable y/o encargado del tratamiento de datos personales, declara que la
      presente Política se encuentra ajustada a las disposiciones de orden legal contenidas en la Ley 1581 de 2012 y
      en el Decreto Único Reglamentario 1074 de 2015, por lo que en el desarrollo de las actividades de tratamiento,
      en la aplicación de la Política, y en la interpretación que de ella se hiciere con fundamento en las normas
      antes citadas, se aplicarán armónicamente los principios de legalidad, finalidad, libertad, veracidad o calidad,
      transparencia, acceso y circulación restringida, seguridad y confidencialidad, en los términos previstos por el
      artículo 4º de Ley 1581 de 2012.
    </p>
  
    <h4>
      5. TITULARES DE LA INFORMACIÓN.
    </h4>
  
    <p>
      De manera enunciativa, las personas cuyos datos trata la Compañía en calidad de Responsable, son las siguientes:
    </p>
  
    <p>
      <b>5.1.</b> Clientes
      <br>
      <br>
      <b>5.2.</b> Proveedores, distribuidores, agentes y/o intermediarios
      <br>
      <br>
      <b>5.3.</b> Trabajadores
      <br>
      <br>
      <b>5.4.</b> Contratistas
      <br>
      <br>
      <b>5.5.</b> Representantes legales, accionistas, y/o administradores.
  
    </p>
  
    <h4>
      6. TRATAMIENTO DEL DATO PERSONAL.
    </h4>
  
    <p>
      Al aceptar esta Política, los clientes, los proveedores, distribuidores, agentes, intermediarios, trabajadores
      dependientes activos e inactivos, los contratistas, administradores, accionistas, y, en general cualquier
      titular de la información, declaran haber leído y entendido esta Política, y como consecuencia de ello,
      autorizarán de manera previa, voluntaria, espontánea e informada, a la Compañía frente al tratamiento de sus
      datos personales, de tal manera que la organización podrá tratar los datos de forma parcial o total, incluyendo
      la recolección, almacenamiento, uso, procesamiento, divulgación, transmisión y transferencia de los datos
      suministrados para la ejecución de las finalidades descritas anteriormente.
      <br>
      <br>
      Por su parte, quienes suministren datos personales de sus asegurados, beneficiarios, dependientes, empleados,
      directivos o accionistas declaran que como responsables cuentan con la autorización previa por parte de aquellos
      para darles tal tratamiento, la Compañía podrá actuar como responsable o encargado del dato personal,
      dependiendo de la finalidad para la cual haya obtenido el dato, por lo que se compromete a cumplir con las
      responsabilidades que para cada uno haya fijado la normatividad. No perderá su calidad, a pesar de la
      transmisión que de la información realice, bajo las restricciones señaladas en la presente política la Compañía
      se abstendrá de divulgar la información personal recabada de los clientes, proveedores, trabajadores
      dependientes activos e inactivos, accionistas, representantes legales y/o administradores y contratistas, como
      también se negará a compartir esta información con cualquier persona natural o jurídica externa no autorizada.
      <br>
      <br>
      Sin perjuicio de lo anterior, la información personal recolectada podrá ser suministrada, cuando la Compañía
      crea de buena fe, que esa divulgación sea razonablemente necesaria, en los siguientes casos enunciativos:
  
    </p>
  
    <p>
      <b>1.</b> Para evitar una responsabilidad legal.
      <br>
      <br>
      <b>2.</b> Para cumplir con leyes, normativas, citaciones u órdenes judiciales.
      <br>
      <br>
      <b>3.</b> Para cumplir un requerimiento de una autoridad pública.
      <br>
      <br>
      <b>4.</b> Cuando se requiera su divulgación para una transferencia o transmisión, sin perjuicio de la
      verificación del cumplimiento de la normatividad sobre la protección de los datos personales por parte del
      receptor de la información y de los requerimientos de orden legal para la validez de tal transmisión o
      transferencia de datos.
      <br>
      <br>
      <b>5.</b> Con terceros con los cuales la empresa tenga algún vínculo contractual de carácter comercial, civil
      o laboral.
  
    </p>
  
    <p>
      La Compañía tiene la obligación de velar porque los terceros a quienes se les comparta la información se ajusten
      a los parámetros definidos en esta política, y actúen conforme a los lineamientos que sobre la protección de los
      datos personales y esquemas de seguridad tenga la compañía. En todo caso, queda prohibido compartir datos
      sensibles de los titulares de la información.
    </p>
  
    <h5>
      6.1. Frente a los Datos Sensibles:
    </h5>
  
    <p>
      En cumplimiento del derecho a la intimidad, a la dignidad humana y en desarrollo del principio de habeas data,
      del libre acceso y circulación a la información, del derecho de protección de datos personales y del derecho al
      debido tratamiento de los datos personales, la Compañía, se compromete a informar al titular de los datos
      personales, cuáles de ellos son sensibles, cuál es la finalidad para la cual se requieren, y a su vez, a
      advertirle que el otorgamiento de la autorización para el tratamiento de los datos sensibles es facultativo. Una
      vez se haya dado la ilustración suficiente por parte del responsable, el titular debe dar su autorización
      explícita frente al tratamiento adecuado de los datos que tengan tal connotación, la cual debe constar por
      escrito.
      <br>
      <br>
      En caso de llegarse a otorgar la información con tal calidad por el titular, se advierte al mismo que el
      tratamiento que se dará a los datos sensibles garantizará el derecho al debido tratamiento de los datos, y se
      conservará la información suministrada bajo condiciones de seguridad impidiendo la adulteración, pérdida,
      consulta, uso o acceso no autorizado.
  
    </p>
  
    <h5>
      6.1.1. Protección especial frente al Tratamiento de Datos de menores de edad
    </h5>
  
    <p>
      La Compañía en calidad de Responsable frente al tratamiento de datos personales, brindará especial protección a
      los datos personales de las niñas, niños y adolescentes que llegue a tratar, en atención a las garantías
      constitucionales que sobre el particular se consagran y al carácter excepcional de su otorgamiento. En orden a
      lo dispuesto, la Compañía sólo tratará los datos de los niños, niñas y adolescentes, bajo dos parámetros. El
      primero, cuando la finalidad del trato responda al interés superior del menor y, el segundo, cuando asegure el
      respeto de sus derechos fundamentales. En todo caso, el representante del menor tendrá la facultad de autorizar
      o no el tratamiento de cualquier clase de información del niño, niña o adolescente. La Compañía, realizará dicho
      Tratamiento teniendo en cuenta, en la medida de lo posible, la opinión de los menores Titulares, tomando en
      consideración, los siguientes factores:
  
    </p>
  
    <p>
      <b>A.</b> Madurez
      <br>
      <br>
      <b>B.</b> Autonomía
      <br>
      <br>
      <b>C.</b> Capacidad para entender el fin de dicho Tratamiento
      <br>
      <br>
      <b>D.</b> Explicar las consecuencias que conlleva el Tratamiento
  
    </p>
  
    <h4>
      7. FINALIDADES DEL TRATAMIENTO DE LA INFORMACIÓN
    </h4>
  
    <p>
      Los datos personales de los clientes, los proveedores, distribuidores, agentes, intermediarios, trabajadores
      dependientes activos e inactivos, los contratistas, administradores y accionistas frente a los cuales la
      Compañía realice su tratamiento, esto es, que use, recolecte, transfiera, transmita, administre, almacene y
      suprima, serán manejados con las siguientes finalidades generales:
  
    </p>
  
    <p>
      <b>7.1.</b> Recabar o recolectar los datos personales e incorporarlos y almacenarlos en las bases de datos con
      las que
      cuente la organización.
      <br>
      <br>
      <b>7.2.</b> Emitir certificaciones.
      <br>
      <br>
      <b>7.3.</b> Envío de comunicaciones de interés; Invitaciones a eventos académicos y contenidos informativos.
      <br>
      <br>
      <b>7.4.</b> Realizar transmisión y/o transferencia de datos a terceros, ubicados en el territorio nacional o por
      fuera
      de él, con los cuales se hayan celebrado contratos o convenios con este objeto o para el desarrollo del objeto
      social, para fines administrativos, operativos y/o comerciales.
      <br>
      <br>
      <b>7.5.</b> Consultar en las listas de prevención y control de lavado de activos y financiación del terrorismo.
      <br>
      <br>
      <b>7.6.</b> Ordenar, catalogar, clasificar, dividir o separar la información suministrada.
      <br>
      <br>
      <b>7.7.</b> Conservar registros históricos de la compañía y mantener contacto con los titulares del dato
      <br>
      <br>
      <b>7.8.</b> Para los fines permitidos por la legislación vigente.
      <br>
      <br>
      <b>7.9.</b> Para los demás casos en los que exista autorización expresa del titular de los datos personales.
      <br>
      <br>
      <b>7.10.</b> Dar soporte a las funciones del aplicativo, para cuyo efecto la Compañía almacena y consulta datos
      biométricos de los usuarios y sus clientes finales.
  
    </p>
  
    <p>
      A continuación se definen las finalidades específicas del Tratamiento para cada caso:
      <br>
      <br>
      <b>a. Tratamiento de datos personales de proveedores, contratistas, distribuidores, agentes, intermediarios
        personas naturales y personas naturales vinculadas a los contratistas:</b>
      <br>
      <br>
      Este tratamiento tiene como finalidades permitir a la Compañía la adecuada gestión de las actividades
      comerciales y/o contractuales que se establezcan, tales como verificar la información comercial y financiera del
      titular, realizar reportes de información contable y financiera, realizar la asignación y control de elementos
      tecnológicos, materiales y equipos en general, entrada y salida de a las instalaciones, seguimiento a
      cumplimiento de obligaciones contractuales y legales, atención de eventuales emergencias, atención respuesta de
      consultas, peticiones, solicitudes, acciones y reclamos, hechas por el titular de la información o las personas
      legitimadas. A su vez, pagos de honorarios, tarifas, fees, reportes de pagos, reportes de información contable y
      financiera, verificaciones de la información financiera del titular, reportes o interacciones que por ley o por
      políticas internas tiene la obligación de realizar, atención de consultas, peticiones, solicitudes, acciones y
      reclamos, hechas por el titular de la información o por sus legitimarios.
      <br>
      <br>
      <b>c. Tratamiento de datos personales de clientes personas naturales y personas naturales vinculadas al
        cliente:</b>
      <br>
      <br>
      El Tratamiento de datos personales de clientes que son personas naturales, tiene el propósito de que la Compañía
      pueda cumplir con las obligaciones contractuales a su cargo, tales como Invitaciones a eventos académicos y
      contenidos informativos, ofrecer nuevas transacciones asociadas con su operación, incluyendo promociones,
      ofertas, oportunidades comerciales, publicidad, envío de comunicaciones de interés, facturación, reportes de
      pagos, reportes de información contable y financiera, difusión de información relevante respecto de los
      servicios adquiridos de la Compañía, comunicar y ejecutar las actividades posventa a que haya lugar, así como la
      gestión de información que por ley o por políticas internas tiene la obligación de realizar. De igual forma, los
      datos personales serán utilizados para que la Compañía pueda cumplir con las solicitudes de productos y/o de
      servicios, brindar un correcto manejo a las relaciones comerciales con clientes, suministrar información y
      material relacionado con el portafolio de productos y servicios de la Compañía, así como de noticias y nuevos
      lanzamientos por cualquier canal de comunicación, realizar gestión comercial, de mercadeo y publicidad de los
      productos y servicios ofrecidos por la Compañía por cualquier canal.
      <br>
      <br>
      <b>e. Tratamiento de datos personales de prospectos de clientes, proveedores, distribuidores personas naturales
        y
        personas naturales vinculadas al prospecto de cliente, proveedor o distribuidor:</b>
      <br>
      <br>
      El tratamiento de datos personales de prospectos de clientes, proveedores o distribuidores que son personas
      naturales, tiene el propósito de que la Compañía pueda cumplir con las solicitudes de servicios, realizar
      verificaciones de la información financiera del titular, brindar un correcto manejo a las relaciones comerciales
      con prospectos de clientes y de proveedores, suministrar información y material relacionado con el portafolio de
      servicios de la Compañía, así como de noticias y nuevos lanzamientos por cualquier canal de comunicación,
      realizar gestión comercial, de mercadeo y publicidad de los productos y servicios ofrecidos por la Compañía por
      cualquier canal.
      <br>
      <br>
      <b>f. Tratamiento de datos personales de accionistas, representantes legales, administradores de personas
        naturales
        o jurídicas:</b>
      <br>
      <br>
      Tiene el propósito de que la Compañía pueda cumplir con las obligaciones contractuales a su cargo, así como para
      identificar factores de riesgo y salud financiera de las empresas de las cuales hacen parte.
  
    </p>
  
    <h4>
      8. DERECHOS DE LOS TITULARES DE LA INFORMACIÓN
    </h4>
  
    <p>
      Los titulares cuya información sea objeto de tratamiento por la Compañía en los términos de la Ley 1581 de 2012,
      tienen derecho a:
  
    </p>
  
    <p>
      <b>8.1.</b> Conocer, actualizar o rectificar sus datos cuando los mismos sean parciales, inexactos,
      incompletos, fraccionados, induzcan a error, o su tratamiento esté expresamente prohibido o no haya sido
      autorizado.
      <br>
      <br>
      <b>8.2.</b> Ser informado acerca del uso de sus datos.
      <br>
      <br>
      <b>8.3.</b> Presentar quejas ante la Superintendencia de Industria y Comercio, según lo establecido en la
      Ley 1581 de 2012 y el Decreto Único Reglamentario 1074 de 2015.
      <br>
      <br>
      <b>8.4.</b> Revocar la autorización del tratamiento de datos personales o solicitar la supresión de algún dato.
      <br>
      <br>
      <b>8.5.</b> Acceder de manera gratuita a los datos personales que fueron objeto de tratamiento.
      <br>
      <br>
      <b>8.6.</b> Solicitar prueba de la autorización que otorgó para el tratamiento de sus datos personales,
      excepto cuando se trate de datos que no requieren autorización.
  
    </p>
  
    <h4>
      9. LEGITIMACIÓN PARA EL EJERCICIO DE LOS DERECHOS DEL TITULAR
    </h4>
  
    <p>
      Con arreglo a lo estatuido por el artículo 2.2.2.25.4.1 del Decreto Único Reglamentario 1074 de 2015, los
      derechos de los titulares de los datos e informaciones de carácter personal podrán ser ejercidos por las
      personas que se mencionan a continuación:
  
    </p>
  
    <p>
      <b>9.1.</b> Por el respectivo titular, quien deberá acreditar su identidad en forma suficiente por los distintos
      medios
      que ponga a disposición el responsable.
      <br>
      <br>
      <b>9.2.</b> Por sus causahabientes, quienes deberán acreditar tal calidad.
      <br>
      <br>
      <b>9.3.</b> Por el representante y/o apoderado del titular, previa acreditación de la representación o
      apoderamiento.
      <br>
      <br>
      <b>9.4.</b> Por estipulación a favor de otro o para otro.
      <br>
      <br>
      <b>9.5.</b> En el caso que el titular de la información sea un menor de edad, sus derechos podrán ser ejercidos
      únicamente por las personas que de conformidad con la ley estén facultadas para representarlos.
    </p>
  
    <h4>
      10. DEBERES DE LOS RESPONSABLES DEL TRATAMIENTO
    </h4>
  
    <p>
      En aquellos eventos en que la Compañía actúe como responsable del tratamiento de datos personales, cumplirá con
      los deberes establecidos en el título VI de la Ley 1581 de 2012 y en las normas que la adicionen o modifiquen,
      dentro de los que se encuentran:
  
    </p>
  
    <p>
      <b>10.1.</b> Garantizar al titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas
      data.<br><br>
      <b>10.2.</b> Solicitar y conservar, en las condiciones previstas en la presente ley, copia de la respectiva
      autorización otorgada por el titular.<br><br>
      <b>10.3.</b> Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten
      por
      virtud de la autorización otorgada.<br><br>
      <b>10.4.</b> Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración,
      pérdida, consulta, uso o acceso no autorizado o fraudulento.<br><br>
      <b>10.5.</b> Garantizar que la información que se suministre a terceros encargados del tratamiento sea veraz,
      completa,
      exacta, actualizada, comprobable y comprensible.<br><br>
      <b>10.6.</b> Actualizar la información, comunicando de forma oportuna a terceros encargados del tratamiento,
      todas las
      novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para
      que la información suministrada a este se mantenga actualizada.<br><br>
      <b>10.7.</b> Rectificar la información cuando sea incorrecta y comunicar lo pertinente a terceros encargados del
      tratamiento.<br><br>
      <b>10.8.</b> Suministrar a terceros encargados del tratamiento, según el caso, únicamente datos cuyo tratamiento
      esté
      previamente autorizado de conformidad con lo previsto en la presente ley.<br><br>
      <b>10.9.</b> Exigir a terceros encargados del tratamiento en todo momento, el respeto a las condiciones de
      seguridad y
      privacidad de la información del titular.<br><br>
      <b>10.10.</b> Tramitar las consultas y reclamos formulados en los términos señalados en la presente ley.<br><br>
      <b>10.11.</b> Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento
      de la
      presente ley y en especial, para la atención de consultas y reclamos.<br><br>
      <b>10.12.</b> Informar a terceros encargados del tratamiento cuando determinada información se encuentra en
      discusión
      por parte del titular, una vez se haya presentado la reclamación y no haya finalizado el trámite
      respectivo.<br><br>
      <b>10.13.</b> Informar a solicitud del Titular sobre el uso dado a sus datos.<br><br>
      <b>10.14.</b> Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de
      seguridad
      y existan riesgos en la administración de la información de los Titulares.<br><br>
      <b>10.15.</b> Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y
      Comercio.
    </p>
  
    <h4>
      11. DEBERES DE LOS ENCARGADOS DEL TRATAMIENTO
    </h4>
  
    <p>
      En aquellos eventos en que la Compañía actúe como encargada del tratamiento de datos personales, cumplirá con
      los deberes establecidos en el título VI de la Ley 1581 de 2012 y en las normas que la adicionen o modifiquen,
      dentro de los que se encuentran:
  
    </p>
  
    <p>
      <b>11.1.</b> Garantizar al titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas
      data;<br><br>
      <b>11.2.</b> Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración,
      pérdida, consulta, uso o acceso no autorizado o fraudulento;<br><br>
      <b>11.3.</b> Realizar oportunamente la actualización, rectificación o supresión de los datos en los términos de
      la
      presente ley;<br><br>
      <b>11.4.</b> Actualizar la información reportada por los responsables del tratamiento dentro de los cinco (5)
      días
      hábiles contados a partir de su recibo;<br><br>
      <b>11.5.</b> Tramitar las consultas y los reclamos formulados por los titulares en los términos señalados en la
      presente ley;<br><br>
      <b>11.6.</b> Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de
      la
      presente ley y, en especial, para la atención de consultas y reclamos por parte de los titulares;<br><br>
      <b>11.7.</b> Registrar en la base de datos las leyenda "reclamo en trámite" en la forma en que se regula en la
      presente
      ley;<br><br>
      <b>11.8.</b> Insertar en la base de datos la leyenda "información en discusión judicial" una vez notificado por
      parte
      de la autoridad competente sobre procesos judiciales relacionados con la calidad del dato personal;<br><br>
      <b>11.9.</b> Abstenerse de circular información que esté siendo controvertida por el titular y cuyo bloqueo haya
      sido
      ordenado por la Superintendencia de Industria y Comercio;<br><br>
      <b>11.10.</b> Permitir el acceso a la información únicamente a las personas que pueden tener acceso a
      ella;<br><br>
      <b>11.11.</b> Informar a la Superintendencia de Industria y Comercio cuando se presenten violaciones a los
      códigos de
      seguridad y existan riesgos en la administración de la información de los titulares;<br><br>
      <b>11.12.</b> Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y
      Comercio.
    </p>
  
    <h4>
      12. RESPONSABILIDAD FRENTE AL USO DE DATOS
    </h4>
  
    <p>
      La Compañía no hace uso de los datos recopilados por sus usuarios en el marco del uso de las plataforma de
      Software comercializadas. Dichos datos solo son almacenados por la Compañía con la finalidad de permitir su
      acceso mediante consulta.
      <br>
      <br>
      Lo anterior, obedece a la versatilidad de la plataforma de Software ofertadas por la Compañía, las cuales son
      utilizadas por una amplia gama de empresas pertenecientes a diferentes industrias y sectores. En ese orden, las
      finalidades de los datos recopilados obedecen al giro ordinario de los negocios de los usuarios que los
      recolecten y, por tanto, cada uno de ellos actúa como responsable del manejo de la información, propendiendo por
      el cumplimiento de lo pactado en la presente Política, las leyes 1266 de 2008 y 1581 de 2012, el Decreto Único
      Reglamentario 1074 de 2015 y demás normas aplicables conforme cambien con el tiempo.
      <br>
      <br>
      Adicionalmente, todos los usuarios que utilicen las plataformas ofertadas por la Compañía para recopilar
      información están obligados a pedir la respectiva autorización a los titulares de la información que pretenda
      recolectarse. En cumplimiento a lo dispuesto en la Ley 1581 de 2012 y el Decreto Único Reglamentario 1074 de
      2015, en dicha solicitud de autorización deberá informarse a los titulares que BRIILLADORA EL DIAMANTE S.A.
      también actúa como responsable de los datos almacenados.
  
  
    </p>
  
    <h4>
      13. AUTORIZACIÓN DEL TITULAR
    </h4>
  
    <p>
      Toda actividad de recopilación, conservación, uso, manejo, actualización, corrección, supresión y, en general,
      toda actividad mediante la cual se pretenda obtener y/o tratar datos e información de carácter personal de
      titularidad de terceros, se llevará a cabo mediante autorización previa, expresa, libre e informada de sus
      respectivos titulares. En todo caso, con el otorgamiento de la autorización por parte del titular para la
      recolección y el tratamiento de las informaciones y datos personales, se entenderá que éste ha leído la
      políticas aquí contenidas, puesto que se le ha informado de manera verbal y escrita que las políticas se
      encuentran a disposición del público y que pueden ser solicitadas en cualquier momento a través de la página web
      www.diamante.com.co Igualmente, por medio de la autorización para la recolección y tratamiento de la información
      y datos personales, el titular declara que dichos datos e información son veraces, completos, exactos,
      actualizados, comprobables, comprensibles y corresponden a la realidad vigente para el momento en que son
      suministrados.
  
  
    </p>
  
    <h4>
      14. CASOS EN QUE NO SE REQUIERE LA AUTORIZACIÓN
    </h4>
  
    <p>
      En los términos del artículo 10 de Ley 1581 de 2012, la autorización del titular no será necesaria cuando las
      informaciones o datos objeto de tratamiento sean de aquellos que se describen a continuación:
  
    </p>
  
    <p>
      <b>a)</b> Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o
      por
      orden judicial.<br><br>
      <b>b)</b> Datos de naturaleza pública.<br><br>
      <b>c)</b> Casos de urgencia médica o sanitaria.<br><br>
      <b>d)</b> Tratamiento de información autorizado por la ley para fines históricos, estadísticos o
      científicos.<br><br>
      <b>e)</b> Datos relacionados con el registro civil de las personas.
    </p>
  
    <h4>
      15. REVOCATORIA DE LA AUTORIZACIÓN Y SOLICITUD DE SUPRESIÓN DEL DATO:
    </h4>
  
    <p>
      De conformidad con lo establecido en el artículo 9º de Ley 1581 de 2012, los titulares de las informaciones y
      datos personales podrán solicitar en todo momento a la Compañía, en su calidad de responsable o encargado del
      tratamiento, la supresión de sus datos personales y/o la revocatoria de la autorización otorgada para el
      tratamiento de los mismos, previa presentación de un reclamo. En los términos del inciso primero del artículo
      2.2.2.25.2.6 del Decreto Único Reglamentario 1074 de 2015, la solicitud de supresión de la información y la
      revocatoria de la autorización no procederán cuando el titular de aquella tenga un deber legal o contractual de
      permanecer en la base de datos.
      <br>
      <br>
      Vencido el término establecido para dar respuesta a la solicitud de revocatoria de autorización o supresión de
      los datos personales, sin que la Compañía hubiere revocado la autorización o eliminado los datos, el titular
      tendrá derecho a acudir a la Superintendencia de Industria y Comercio para que dicha entidad, en uso de sus
      facultades policivo administrativas o jurisdiccionales, ordene la revocatoria de la autorización y/o la
      supresión de los datos personales, previo agotamiento del procedimiento sancionatorio establecido en el artículo
      22 de Ley 1581 de 2012.
  
  
    </p>
  
    <h4>
      16. RECOLECCIÓN DE DATOS DE UBICACIÓN
    </h4>
  
    <p>
      La Compañía usa la ubicación de los dispositivos de sus usuarios. Esta información solo es recopilada mientras
      se está haciendo uso de las plataformas administradas por DIAMANTE S.A. y no se recolecta en segundo plano
      después de que estas hayan sido cerradas.
      <br>
      <br>
      Los datos de ubicación son recolectados a través de los sensores de georreferenciación incorporados en los
      dispositivos de los usuarios y su finalidad es permitir la ejecución de algunas funcionalidades de las
      plataformas Software de la Compañía. Entre estas funciones se incluyen las siguientes:
  
    </p>
  
    <p>
      <b>1. Seguimiento de formularios electrónicos avanzados:</b> los usuarios pueden consultar los lugares y
      usuarios que
      diligencien los formularios electrónicos diseñados en las plataformas software.<br><br>
      <b>2. Rastreo innovador de GPS:</b> los usuarios pueden utilizar los sistemas de GPS para verificar las
      ubicaciones en
      las que se realicen las actividades de campo definidas en la plataforma software.
    </p>
  
    <h4>
      17. PROCEDIMIENTO PARA PETICIONES, CONSULTAS Y RECLAMOS Y RESPONSABLE DE SU TRÁMITE.
    </h4>
  
    <p>
      Cuando el titular desee ejercer alguno de sus derechos o presentar una petición, consulta o reclamo relacionado
      con el tratamiento de sus datos personales, podrá realizarlo por lo siguientes medios:
  
    </p>
  
    <p>
      <b>A.</b> Correo electrónico: sistemas@diamante.com.co
      <br>
      <br>
      <b>B.</b> Línea de atención telefónica: (+ 602) 5147777
      <br>
      <br>
      <b>C.</b> Dirección física: Calle 4B No. 38-17 Cali, Colombia.
  
    </p>
  
    <p>
      Dicha solicitud debe incluir, como mínimo, los siguientes datos:
    </p>
  
    <p>
      <b>1.</b> Nombres y apellidos / Razón social
      <br>
      <br>
      <b>2.</b> Tipo y número de identificación (Cédula de ciudadanía o extranjería, o, NIT)
      <br>
      <br>
      <b>3.</b> Cargo / Ocupación
      <br>
      <br>
      <b>4.</b> Teléfonos fijos o celulares de contacto
      <br>
      <br>
      <b>5.</b> Correo electrónico
      <br>
      <br>
      <b>6.</b> Asunto: Tratamiento de Datos Personales
      <br>
      <br>
      <b>7.</b> Descripción de los presupuestos de hecho en los que se fundamenta la petición
      <br>
      <br>
      <b>8.</b> Petición que se invoca.
      <br>
      <br>
      <b>9.</b> Documentos que requiere hacer valer.
  
    </p>
  
    <p>
      Cuando se trate de menores de edad, sus derechos deberán ser ejercidos por las personas que ostenten su
      representación legal.
  
      El término estipulado para resolver las CONSULTAS será de diez (10) días hábiles, que podrá ser ampliado por un
      término máximo de (5) días hábiles; las consultas deberán ceñirse al tratamiento de los datos personales,
      específicamente a su actualización, corrección o supresión.
  
      Cuando el titular haya presentado un RECLAMO a la Compañía por advertir un incumplimiento de los deberes frente
      al tratamiento de los datos personales por parte de la empresa, se debe seguir el siguiente procedimiento:
      <br>
      <br>
      <b>1.</b> El titular de la información deberá exponer mediante correo electrónico, vía telefónica o mediante
      carta
      escrita dirigida al domicilio principal de la compañía, los presupuestos fácticos, las peticiones y las razones
      que las sustentan.
      <br>
      <br>
      <b>2.</b> El personal que reciba el reclamo lo dirigirá a la oficina del Oficial del Tratamiento del dato
      personal o al
      área de Servicio al Cliente, de no haberlo.
      <br>
      <br>
      <b>3.</b> Posteriormente, se revisará si se encuentra motivado el reclamo que eleva el titular del dato. Cuando
      el
      reclamo estuviere incompleto, se debe requerir al reclamante en los cinco (5) días hábiles siguientes a la
      recepción del reclamo, para que lo subsane. En caso de que transcurra más de un (1) mes desde la fecha del
      requerimiento sin que el reclamante subsane, se entenderá que ha desistido del reclamo.
      <br>
      <br>
      <b>4.</b> El término máximo para dar respuesta de fondo al reclamo será de quince (15) días hábiles contados a
      partir
      del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término,
      se informará al reclamante los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún
      caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
  
    </p>
  
    <h4>
      18. MEDIDAS DE SEGURIDAD DE LA INFORMACIÓN
    </h4>
  
    <p>
      Dando cumplimiento al principio de seguridad establecido en la normatividad vigente, la Compañía adoptará las
      medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando
      su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
      <br>
      <br>
      La Compañía está comprometida a dar un correcto uso y tratamiento de los datos personales de sus clientes y
      usuarios, evitando el acceso no autorizado a terceros que permita conocer o vulnerar, modificar, divulgar y/o
      destruir la información que reposa en las bases de datos de la Compañía. Por tal motivo, la sociedad cuenta con
      protocolos de seguridad y acceso a sus sistemas de información, almacenamiento y procesamiento incluidas medidas
      físicas de control de riesgos de seguridad.
      <br>
      <br>
      Por tanto, deberá adoptar las medidas que le permitan dar cumplimiento a lo dispuesto por las Leyes 1581 de
      2012, y cualquier otra ley o norma que las modifique o sustituya. Consecuencia de esta obligación legal, entre
      otras, deberá adoptar las medidas de seguridad de tipo lógico, administrativo y físico, acorde a la criticidad
      de la información personal a la que accede, para garantizar que este tipo de información no será usada,
      comercializada, cedida, transferida y/o no será sometida a cualquier otro tratamiento contrario a la finalidad
      comprendida en lo dispuesto en el objeto del contrato. Se informará cualquier sospecha de perdida, fuga o ataque
      contra la información personal que repose en las bases de datos de la Compañía, aviso que deberá dar una vez
      tenga conocimiento de tales eventualidades a través de los mecanismos más pertinentes o eficaces, tales como,
      publicación en la página web o redes de la empresa, comunicación directa al correo electrónico reportado del
      afectado o al medio establecido por éste para tales efectos o de cualquier manera que garantice el derecho a la
      información del titular. La pérdida, fuga o ataque contra la información personal implica así mismo la
      obligación de gestionar el incidente de seguridad conforme los lineamientos legales en la materia.
  
  
    </p>
  
    <h4>
      19. ÁMBITO DE APLICACIÓN
    </h4>
  
    <p>
      La presente Política será aplicable a dicha sociedad, a sus dependientes, bien sean filiales o subordinadas, que
      en virtud de la explotación y el desarrollo legal y responsable del objeto social de la compañía, hubieren
      recopilado u obtenido información o datos personales de titularidad de distribuidores, proveedores, clientes,
      colaboradores, trabajadores o de terceros en general.
    </p>
  
    <h4>
      20. LEGISLACIÓN APLICABLE E INTERPRETACIÓN
    </h4>
  
    <p>
      Esta Política estará sujetas a las disposiciones contenidas en la Ley 1581 de 2012 y en el Decreto Único 1074 de
      2015 que la reglamenta; por tal motivo, cualquier vacío en la normatividad citada se interpretará de conformidad
      con las disposiciones de la legislación colombiana en general, así como a la luz de los artículos 15 y 20 de la
      Constitución Política de Colombia.
    </p>
  
    <h4>
      21. MODIFICACIONES A LA POLÍTICA
    </h4>
  
    <p>
      Nos reservamos el derecho a efectuar en cualquier momento modificaciones o actualizaciones a esta Política. Sin
      embargo, estas modificaciones estarán disponibles al público a través de la página web www.diamante.com.co21. En
      caso de que los cambios hagan referencia a las finalidades autorizadas, procederemos a obtener una nueva
      autorización para el tratamiento de los datos por parte de los titulares.
      <br>
      <br>
      Esta Política aplica para todos los datos personales que maneja LA COMPAÑÍA desde la fecha de la autorización
      para su tratamiento hasta que la finalidad para la cual fue solicitado el dato personal sea agotada.
  
    </p>
  
    <h4>
      22. TÉRMINO DE VIGENCIA DE LAS BASES DE DATOS Y DE LOS DATOS PERSONALES CONTENIDOS EN LAS MISMAS.
    </h4>
  
    <p>
      Sin prescindir de la forma en cómo se almacena la información, los datos personales se utilizarán de conformidad
      con la finalidad para la cual se han solicitado, y, una vez agotada dicha finalidad, podrán ser suprimidos en el
      término que disponga la ley, dependiendo del tipo de información (contable, financiera, personal, laboral, y de
      seguridad social, entre otros.), y a falta de éste, por el término que establezca el área a que corresponda la
      información personal o los diferentes contratos comerciales que suscriba la Compañía.
    </p>
  
    <h4>
      23. VIGENCIA DE LA POLÍTICA PARA EL ADECUADO TRATAMIENTO DE LOS DATOS PERSONALES DE LA COMPAÑÍA
    </h4>
  
    <p>
      La presente Política rige a partir del 27/03/2024 de manera indefinida, por lo que su contenido obliga a la
      Compañía mientras permanezcan vigentes las relaciones contractuales, comerciales, laborales o meramente
      informativas con los titulares de las informaciones y datos personales. Lo anterior, sin perjuicio del derecho
      de los titulares a solicitar la revocatoria de la autorización para el tratamiento de sus datos e informaciones
      personales.
      <br>
      <br>
      En todo caso, y aun cuando medie solicitud de revocatoria de la autorización para el tratamiento, la Compañía
      advierte que, de conformidad con lo dispuesto en esta Política, los datos personales serán conservados cuando
      así se requiera para el cumplimiento de una obligación de carácter legal o contractual que hubiere surgido entre
      la empresa y el respectivo titular.
      <br>
      <br>
      La Compañía se reserva el derecho a hacer ajustes al contenido de la presente Política cuando las actividades
      del tratamiento y/o la finalidad del tratamiento de los datos e información personal cambien, o cuando los
      cambios normativos en la materia lo justifiquen. En todo caso, dichos cambios serán debidamente comunicados a
      los titulares a través de los mecanismos eficientes de comunicación comúnmente utilizados en el giro ordinario
      de las relaciones comerciales o promocionales que con ellos se sostienen.
  
    </p>
  
  </div>
</ion-content>
