<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <title>CENTRO ASEO</title>
</head>

<style>
  * {
    margin: 0%;
  }

  .contenedor {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    /* margin: auto; */
    font-size: 12px;
  }

  .t {
    width: 100%;
    border-collapse: collapse;
  }

  .t td {
    border: 1px solid #333;
    padding: 5px;
  }

  .none {
    padding: 0px !important;
    border: 0px !important;
  }

  .center {
    text-align: center;
  }

  .bold {
    font-weight: bolder;
  }

  .small {
    font-size: 9px !important;
  }

  .firma .vt_picture {
    width: 90px !important;
    height: auto !important;
  }

  .salto {
    page-break-inside: avoid !important;
  }

  .imagen img {
    width: 150px !important;
    height: 170px !important;
  }

  .verdis {
    background: #DCF0E7;
  }

  .vt_picture {
    width: 220px;
    height: 300px;
  }


  .rotate {
    transform: rotate(-90deg);

  }

  .bg {
    background-color: #031EFF;
  }
</style>


<div class="contenedor">
  <table class="t" cellspacing="0" cellspadding="0">
    <thead>
      <tr>
        <td colspan="" style="padding:8px; border: 0px;"></td>
      </tr>
      <tr>
        <td colspan="" style="padding:0px; border:0px;">
          <table style="width:100%; border:1px solid #333;" cellspacing="0" cellspadding="0">

            <tr>
              <td rowspan="4" style="width: 150px;" class="center">
                <img
                  src="https://s3.amazonaws.com/bineast.visitrack.com/logocompanies/649AA4D6-851E-4AF7-9C88-93531CD07753.png"
                  width="150px" alt="">
              </td>
              <td rowspan="4"  class="center">RUTINA DE MANTENIMIENTO DE CABINAS</td>
              <td style="height: 50px;" class="center"><b class="titulo bold">CODIGO:</b></td>
              <td style="height: 50px;" class="center">GTE-FO-030</td>
            </tr>
            <tr>
                <td style="height: 50px;" class="center"><b class="titulo bold">CODIGO:</b></td>
              <td style="height: 50px;" class="center">GTE-FO-030</td>
            
            </tr>

              <tr>
                <td style="height: 50px;" class="center"><b class="titulo bold">CODIGO:</b></td>
              <td style="height: 50px;" class="center">GTE-FO-030</td>
            
            </tr>

              <tr>
                <td style="height: 50px;" class="center"><b class="titulo bold">CODIGO:</b></td>
              <td style="height: 50px;" class="center">GTE-FO-030</td>
            
            </tr>
           

          </table>
        </td>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td style="padding: 8px 0; border: 0px;"></td>
      </tr>
    </tfoot>
    <tbody>

      <span id="activity" style="display:none;" data-frm="ActivityID"></span>
      <tr>
        <td style="padding: 8px 0; border-top: 0px; border-bottom: 0px;"></td>
      </tr>

      <tr>
        <td class="none">
          <table class="t">

            <tr>
              <td colspan="6">Cliente: <span data-frm="LocationName"></span></td>
              <td colspan="6">Fecha: <span id="fechasss" style="display: none;" data-api="FECHA"></span> <span
                  class="center" id="fechaNueva"></span></td>
            </tr>
            <tr>
              <td>Motivo Informe: <span style="display: none;" data-api="MOTIVO_INFORME" id="b1" data-properties='{"align":"none",
                                            "showlabel": "true", "defwith": "20px"}'></span> </td>
              <td>ACTA DE REUNION: </td>
              <td class="center" style="padding: 7px;"><span id="b2"
                  style="width: 50px; height: 30px;padding: 3px 7px; border: 1px solid #333;"></span>
              </td>
              <td>INFORME ACTIVIDADES:</td>
              <td class="center" style="padding: 7px;"><span id="b3"
                  style="width: 50px; height: 30px;padding: 3px 7px; border: 1px solid #333;"></span>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">Frecuencia de Visita del <br> coordinador: <span style="display: none;"
                  data-api="FRECUENCIAVISITA" id="c1" data-properties='{"align":"none",
                                            "showlabel": "true", "defwith": "20px"}'></span></td>
              <td>Diaria:</td>
              <td class="center" style="padding: 7px;"><span id="c2"
                  style="width: 50px; height: 30px;padding: 3px 7px; border: 1px solid #333;"></span>
              </td>
              <td>Semanal:</td>
              <td class="center" style="padding: 7px;"><span id="c3"
                  style="width: 50px; height: 30px;padding: 3px 7px; border: 1px solid #333;"></span>
              </td>
              <td>Quincenal:</td>
              <td class="center" style="padding: 7px;"><span id="c4"
                  style="width: 50px; height: 30px;padding: 3px 7px; border: 1px solid #333;"></span>
              </td>
              <td>mensual:</td>
              <td class="center" style="padding: 7px;"><span id="c5"
                  style="width: 50px; height: 30px;padding: 3px 7px; border: 1px solid #333;"></span>
              </td>
            </tr>
            <tr>
              <td colspan="10" style="padding:10px;"></td>
            </tr>
          </table>
        </td>
      </tr>


      <tr>
        <td style="padding:10px;"></td>
      </tr>


      <tr>
        <td class="none">
          <table class="t">
            <tr>
              <td class="center bold">ASPECTOS TRATADOS EN LA VISITA</td>
            </tr>
            <tr>
              <td style="padding: 8px;">
                <p data-api="ASPECTOSATRATAR"></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td style="padding: 5px; border: 0px;"></td>
      </tr>


      <tr>
        <td class="none">
          <table class="t" data-api="COMPROMISOS">
            <thead>
              <tr>
                <td class="center bold" colspan="6" style="background: #f3f3f3;">COMPROMISOS
                </td>
              </tr>
              <tr>
                <td class="center bold">COMPROMISOS ADQUIRIDOS</td>
                <td class="center bold">DESCRIPCION DEL COMPROMISO</td>
                <td class="center bold">FECHA DE SOLUCION DEL COMPROMISO</td>
                <td class="center bold">COMPROMISO RESUELTO</td>
              </tr>
            </thead>
            <tbody data-container="true" data-template="true">
              <tr>
                <td data-col="COMPROMISO_ADQUIRIDO"></td>
                <td data-col="DESCRIPCION"></td>
                <td data-col="FECHA_SOLUCION"></td>
                <td data-col="COMPROMISO_RESUELTO" data-properties='{"align":"none",
                                            "showlabel": "true", "defwith": "20px"}'></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>



      <tr>
        <td class="none">
          <table class="t">
            <tr>
              <td class="center  bold" colspan="5" style="font-size: 13px; background-color: #f3f3f3ce;">
                <b>REGISTRO FOTOGRAFICO</b>
              </td>

              <td colspan="4" style="padding:0px; border:0px;">
                <script type="text/template" id="fotos-vt">
                                        <div class="image">
                                            <%= tr %><br>
                                                <p>
                                                    <%= desc %>
                                                </p>
                                        </div>
                                    </script>
              </td>
            </tr>
            <tr>
              <td colspan="4" style="padding:0px; border:0px;">
                <table class="t" style="border: 0px;" cellspacing="0" cellspadding="0">
                  <tbody id="contentFigures">
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="4" style="padding:0px; border:0px;">
                <div id="allfigures">
                  <table id="Fotos" style="border: 0px;" class="t" border="1" cellspacing="0" data-api="FOTOS">
                    <thead>
                      <tr>
                        <th>FOTOS</th>
                      </tr>
                    </thead>
                    <tbody data-container="true" data-template="true">
                      <tr>
                        <td data-col="DESCRIPCION"></td>
                        <td data-col="FOTO"></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="salto">
        <td class="none">
          <table class="t">
            <tr>
              <td class="none" style="width: 50%;">
                <table class="t">
                  <tr>
                    <td colspan="2" class="center bold" style="background: #fafafa;">Responsable
                      Brillantex
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Firma Responsable Brillantex :
                      <div class="firma" data-api="FIRMADIRECTOROPERATIVO.bin"></div><br> Nombre:
                      <span data-api="FIRMADIRECTOROPERATIVO.sig"></span><br>
                      <span></span><br>
                      <span></span><br>
                    </td>
                  </tr>
                </table>

              </td>


              <td class="none" style="width: 50%;">
                <table class="t">
                  <tr>
                    <td colspan="2" class="center bold" style="background: #fafafa;">Cliente
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Firma Cliente:
                      <div class="firma" data-api="FIRMACLIENTE.bin"></div><br> Nombre:
                      <span data-api="FIRMACLIENTE.sig"></span><br> Cargo:
                      <span data-api="CARGO2"></span>
                      <br> Cédula:
                      <span data-api="CEDULA2"></span>
                    </td>
                  </tr>
                </table>

              </td>

            </tr>
          </table>
        </td>
      </tr>


    </tbody>
  </table>
</div>