<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="diamante">
    <ion-title>Control de Usuarios</ion-title>
    <app-options slot="end"></app-options>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-searchbar matInput (keyup)="filtrar($event)" placeholder="Buscar Usuario" mode="ios" (ionClear)="cancel()"></ion-searchbar>


  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
   </div>


  <div class="table">
     
    <div *ngIf="!loadActivities">
      <ion-row *ngFor="let result of [1,1,1]">

        <ion-col size="4">
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
        </ion-col>

        <ion-col size="4">
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
        </ion-col>

        <ion-col size="4">
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
        </ion-col>



      </ion-row>
    </div>


    <table *ngIf="loadActivities" mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="estado">
        <th style="min-width: 350px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> ESTADO </th>
        <td mat-cell *matCellDef="let element">

          <div class="fl" *ngIf="element.estado == 1">
            <span class="circle"></span>

            Conectado
          </div>
         
          <div class="flex" *ngIf="element.estado == 0.5">
           <div>
            <span class="circle3"></span>

            Descanso 
           </div>

            <ion-icon  name="cafe-outline" color="diamante"></ion-icon>
          
          </div>

          <div class="fl" *ngIf="!element.estado || element.estado == 0 ">

            <span class="circle2"></span>
            Desconectado
          </div>
     
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> NOMBRE </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="islock">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> BLOQUEAR </th>
        <td mat-cell *matCellDef="let element">
        
          <ion-checkbox [checked]="element.islock == 1 ? true : false" (ionChange)="changeLock($event,element)"></ion-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="isdelete">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> PERMISO / ELIMINAR </th>
        <td mat-cell *matCellDef="let element">  <ion-checkbox *ngIf="element.acc.RoleID != 35" [checked]="element.isdelete == 1 ? true : false" (ionChange)="changeDelete($event,element)"></ion-checkbox></td>
      </ng-container>


      <ng-container matColumnDef="isassigment">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> PERMISO / ASIGNAR </th>
        <td mat-cell *matCellDef="let element">  <ion-checkbox *ngIf="element.acc.RoleID != 35" [checked]="element.isassigment == 1 ? true : false" (ionChange)="changeAssigment($event,element)"></ion-checkbox> </td>
      </ng-container>

      <ng-container matColumnDef="programmer">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> TURNOS </th>
        <td mat-cell *matCellDef="let element">  <ion-checkbox *ngIf="element.acc.RoleID != 35" [checked]="element.programmer == 1 ? true : false" ></ion-checkbox> </td>
      </ng-container>

      

      <ng-container matColumnDef="acc">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let element">
          <ion-button color="danger" fill="outline">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        
        </td>
      </ng-container>

   

    

      <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
      <tr    mat-row *matRowDef="let row; columns: displayedColumns;" > 
       
      </tr>
    </table>


  </div>

  <mat-paginator #paginatorHistory [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons
    aria-label="Seleccionar pagina">
  </mat-paginator>
 
</ion-content>
