<ion-app>
    <ion-menu class="menu" type="push" side="start" menuId="menu" contentId="main" #menu>
        <ion-header class="ion-no-border" [translucent]="true">
            <ion-toolbar color="diamante">
                <ion-title>Menú</ion-title>
                <ion-buttons slot="end">
                    <ion-menu-button icon="close"></ion-menu-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content color="banner">

            <br>
            <div class="img">
                <img class="img" src="/assets/diamante.png" width="150px" alt="">
            </div>
            <br>

            <ion-item color="banner" (click)="form()">
                <ion-icon name="newspaper" slot="start"></ion-icon>
                <ion-label>Formulario</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item color="banner" (click)="dash()">
                <ion-icon name="bag-add" slot="start" ></ion-icon>
                <ion-label>Actividades</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item (click)="history()" color="banner" *ngIf="role && role.Historial == 1">
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>Historial Camilleros</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item (click)="listas()" color="banner" *ngIf="role && role.Listas == 1">
                <ion-icon name="list" slot="start"></ion-icon>
                <ion-label>Listas</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item (click)="motivos()" color="banner" *ngIf="role && role.Listas == 1">
                <ion-icon name="hourglass" slot="start"></ion-icon>
                <ion-label>Motivos Demora</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>


            <ion-item color="banner" (click)="control()" *ngIf="role && role.Listas == 1">
                <ion-icon name="settings" slot="start"></ion-icon>
                <ion-label>Control Usuarios</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>


            <ion-item (click)="reportes()" color="banner" *ngIf="role && role.Reportes == 1">
                <ion-icon name="bar-chart" slot="start"></ion-icon>
                <ion-label>Reportes</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>


            <ion-item color="banner" (click)="exit()">
                <ion-icon name="power" slot="start"></ion-icon>
                <ion-label>Salir</ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-item>


        </ion-content>

        <ion-footer class="ion-no-border" [translucent]="true">
            <ion-toolbar color="banner">
                <div class="center">
                    By &copy; Visitrack
                </div>

            </ion-toolbar>
        </ion-footer>

    </ion-menu>

 
    
    <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>