<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="diamante">
    <ion-title>Opciones personalizadas</ion-title>
    <app-options slot="end"></app-options>
  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
   </div>


  <div class="table">
     
   

  <div class="options">
    <ion-searchbar matInput (keyup)="filtrar($event)" placeholder="Buscar Opciòn" mode="ios" (ionClear)="cancel()"></ion-searchbar>
    <ion-button color="success" mode="ios" (click)="create()">Crear opciòn</ion-button>
  </div>

  <div *ngIf="!loadActivities">
    <ion-row *ngFor="let result of [1,1,1]">

      <ion-col size="4">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
      </ion-col>

      <ion-col size="4">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
      </ion-col>

      <ion-col size="4">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
      </ion-col>



    </ion-row>
  </div>


    <table *ngIf="loadActivities" mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th style="min-width: 350px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> TITULO DEL ITEM </th>
        <td mat-cell *matCellDef="let element">

          <ion-input (ionChange)="change2($event, element.acc, 'name')" type="text" [value]="element.name"></ion-input>
     
        </td>
      </ng-container>

      <ng-container matColumnDef="ref">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> REFERENCIA DEL ITEM </th>
        <td mat-cell *matCellDef="let element">  {{element.ref}} </td>
      </ng-container>


      <ng-container matColumnDef="motivo">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> MOTIVO </th>
        <td mat-cell *matCellDef="let element"> 
          <div>{{ element.motivo.Name }}</div>
        </td>
      </ng-container>



      <ng-container matColumnDef="acc">
        <th style="min-width: 300px; background-color: #f1f1f1; color: #000; font-size: 14px; font-weight: bold;"
          mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let element">   
          <div class="center">
            <ion-button  color="warning" fill="outline" (click)="editPoint(element)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button  color="danger" fill="outline" (click)="deletePoint(element)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </td>
      </ng-container>




   

    

      <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
      <tr    mat-row *matRowDef="let row; columns: displayedColumns;" > 
       
      </tr>
    </table>


  </div>

  <mat-paginator #paginatorHistory [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons
    aria-label="Seleccionar pagina">
  </mat-paginator>


 
</ion-content>
